<% for (var i = 0; i < allUsers.length; i++) { %>
	<div>
		<%= allUsers[i].firstname %> 
		<%= allUsers[i].lastname %> 
		<%= allUsers[i].age %> 
		<%= allUsers[i].username %> 
		<a href="/edit/<%= allUsers[i].id %>">Edit User</a>
	</div>
<% } %>